html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#riveCanvas {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
}


.forget-password-btn {
    display: inline-block;
    padding: 6px 12px;
    background-color: #007bff; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

    .forget-password-btn:hover {
        background-color: #0056b3; 
    }
