@model RoleToReturnDto

<div class="row">

    <div class="row">
        <div class="col-md-6 my-2">
            <label asp-for="Id" class="fw-bold text-success"></label>
            <input asp-for="Id" class="form-control border-success" readonly />
        </div>
        <div class="col-md-6 my-2">
            <label asp-for="Name" class="fw-bold text-success"></label>
            <input asp-for="Name" class="form-control border-success" readonly />
        </div>
</div>
</div>
