
@{
    
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<style>
    .full-screen-message {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg, #0072ff, #00c6ff);
    }

        .full-screen-message h1 {
            font-size: 70px;
            font-weight: bold;
            color: #fff;
            text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
        }
</style>

<div class="full-screen-message">
    <h1>📬 Check Your Inbox</h1>
</div>
