@model Employee

<div class="row">
    <div class="col-md-6 my-2">
        <label asp-for="Name" class="fw-bold text-danger"></label>
        <input asp-for="Name" class="form-control border-danger bg-light" readonly />
    </div>
    <div class="col-md-6 my-2">
        <label asp-for="Age" class="fw-bold text-danger"></label>
        <input asp-for="Age" class="form-control border-danger bg-light" readonly />
    </div>
    <div class="col-md-6 my-2">
        <label asp-for="Email" class="fw-bold text-danger"></label>
        <input asp-for="Email" class="form-control border-danger bg-light" readonly />
    </div>
    <div class="col-md-6 my-2">
        <label asp-for="Phone" class="fw-bold text-danger"></label>
        <input asp-for="Phone" class="form-control border-danger bg-light" readonly />
    </div>
    <div class="col-md-6 my-2">
        <label asp-for="Salary" class="fw-bold text-danger"></label>
        <input asp-for="Salary" class="form-control border-danger bg-light" readonly />
    </div>
    <div class="col-md-6 my-2">
        <label asp-for="HiringDate" class="fw-bold text-danger"></label>
        <input asp-for="HiringDate" class="form-control border-danger bg-light" readonly />
    </div>
    <div class="col-md-6 my-2">
        <label asp-for="CreateAt" class="fw-bold text-danger"></label>
        <input asp-for="CreateAt" class="form-control border-danger bg-light" readonly />
    </div>
    <div class="col-md-6 my-2">
        <label asp-for="Address" class="fw-bold text-danger"></label>
        <input asp-for="Address" class="form-control border-danger bg-light" readonly />
    </div>
    <div class="col-md-6 my-2">
        <div class="form-check">
            <input asp-for="IsActive" class="form-check-input border-danger" readonly />
            <label asp-for="IsActive" class="fw-bold text-danger"></label>
        </div>
    </div>
    <div class="col-md-6 my-2">
        <div class="form-check">
            <input asp-for="IsDeleted" class="form-check-input border-danger" readonly />
            <label asp-for="IsDeleted" class="fw-bold text-danger"></label>
        </div>
    </div>
    <div class="col-md-6 my-2">
        <label asp-for="Department" class="fw-bold text-danger"></label>
        <input asp-for="Department.Name" class="form-control border-danger bg-light" readonly />
    </div>
</div>
